 <div class=" text-white navbar" id="header_facebook">
    
    <div class="row">
        <div class="col-6 container-fluid text-white">
            <p class="facebook fw-bold " href="#">facebook</p>

        </div>
        <div class="col-6 "  id="navbarContent">
            <form class="d-flex  ">
                <div class="col me-1">
                    <p class="text-nowrap fw-bold">Adresse e-mail ou mobile</p>
                    <input type="email" class="form-control form-control-sm" placeholder="Email or Phone" required>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" id="remember" class="me-1">
                        <label class="text-nowrap" for="remember">Garder ma session active</label>
                    </div>
                </div>
                <div class="col me-1">
                    <p class="fw-bold">Mot de passe</p>
                    <input type="password" class="form-control form-control-sm" placeholder="Password" required>
                    <p>Mot de passe oubliee ?</p>
                </div>

                <div class="col d-flex align-item-center text-white ">
                    <div class="row">
                        <div class="col"><button type="submit" class="btn_connexion fw-bolder d-flex ">Connexion</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

 </div>